body {
	/* Background color set as workaround for Legacy Android issue:
	https://github.com/AppGyver/steroids/issues/381 */
	background-color:#fff;
}

img {
  max-width: 100%;
}

textarea { /* TODO */
  height: 15em;
}

.version {
  color: #777777;
  font-size: smaller;
  text-align: center;
}
