<div class="list" ng-show="loading">
  <div class="item item-icon-left">
    <i class="icon ion-loading-c"></i>
    Loading&hellip;
  </div>
</div>

<div hm-swipe="next(true)" ng-show="profile">
  <div class="list" ng-show="profile.photo">
    <div class="item item-divider">
      <i class="icon ion-image"></i>
      Photo
    </div>
    <div class="item">
      <img ng-src="{{ profile.photo }}">
    </div>
  </div>

  <div class="list">
    <div class="item item-text-wrap">
      <strong>Age</strong> {{ profile.age }}<br>
      <strong>Gender</strong> {{ GENDERS[profile.gender] }}<br>
      <strong>Location</strong> {{ profile.city }} <small>{{ COUNTRIES[profile.country] }}</small>
    </div>
  </div>

  <div class="list">
    <div class="item item-divider">
      <i class="icon ion-star"></i>
      Religion
    </div>
    <div class="item item-text-wrap">
      <p ng-repeat="paragraph in profile.religion.split('\n') track by $index">{{paragraph}}</p>
    </div>
  </div>

  <div class="list">
    <div class="item item-divider">
      <i class="icon ion-person-stalker"></i>
      Family
    </div>
    <div class="item item-text-wrap">
      <p ng-repeat="paragraph in profile.family.split('\n') track by $index">{{paragraph}}</p>
    </div>
  </div>

  <div class="list">
    <div class="item item-divider">
      <i class="icon ion-person"></i>
      Self
    </div>
    <div class="item item-text-wrap">
      <p ng-repeat="paragraph in profile.self.split('\n') track by $index">{{paragraph}}</p>
    </div>
  </div>

  <div class="list">
    <div class="item item-divider">
      <i class="icon ion-home"></i>
      Community
    </div>
    <div class="item item-text-wrap">
      <p ng-repeat="paragraph in profile.community.split('\n') track by $index">{{paragraph}}</p>
    </div>
  </div>

  <div class="list">
    <div class="item item-divider">
      <i class="icon ion-briefcase"></i>
      Career
    </div>
    <div class="item item-text-wrap">
      <p ng-repeat="paragraph in profile.career.split('\n') track by $index">{{paragraph}}</p>
    </div>
  </div>

  <div class="button-bar">
    <button class="button button-stable" ng-click="next(true)" ng-disabled="loading">Next</button>
    <button class="button button-positive" ng-click="redirect('/conversations/' + profile.username)">Halalar</button>
  </div>
</div>