<div hm-swipe="next()">
  <div class="list">
    <div class="item item-divider">
      Age
    </div>
    <div class="item">
      {{ profile.age }}
    </div>
    <div class="item item-divider">
      Gender
    </div>
    <div class="item">
      {{ profile.gender }}
    </div>
    <div class="item item-divider">
      Location
    </div>
    <div class="item item-divider">
      City
    </div>
    <div class="item">
      {{ profile.city }}
    </div>
    <div class="item item-divider">
      Country
    </div>
    <div class="item">
      {{ profile.country }}
    </div>
  </div>

  <div class="list">
    <div class="item item-divider">
      Religion
    </div>
    <div class="item">
      {{ profile.religion }}
    </div>
    <div class="item item-divider">
      Family
    </div>
    <div class="item">
      {{ profile.family }}
    </div>
    <div class="item item-divider">
      Self
    </div>
    <div class="item">
      {{ profile.self }}
    </div>
    <div class="item item-divider">
      Community
    </div>
    <div class="item">
      {{ profile.community }}
    </div>
    <div class="item item-divider">
      Career
    </div>
    <div class="item">
      {{ profile.career }}
    </div>
  </div>
</div>